Visual Question Answering/glove.6B.50d.txt
Visual Question Answering/glove.6B.50d.txt.gz
Visual Question Answering/Karim Zakaria Saloma.rar
Segmentation/yarab.png
Visual Question Answering/.ipynb_checkpoints/
Segmentation/.ipynb_checkpoints/
Classification/.ipynb_checkpoints/
